@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400,700';
/* 
body{
  display: flex;
  flex-direction: column;
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
}

html{
  overflow-x: hidden;
}

.tabs2{
  color: #333;
  font-family: "Raleway";
  background: red;
  margin: auto;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  position: relative;
  padding:2%;
  width: 80%;
  /* height: 440px; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
  
  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 10px;
  margin-bottom: 70px;

}
.left{
  width: 100%;
}
.left img{
  border-radius: 5px;
  width: 100%;
  box-shadow: -15px 5px 20px rgba(0, 0, 0, 0.61), 0 10px 10px rgba(0, 0, 0, 0.568);
  /* box-shadow: 0px 0px 20px rgb(255, 255, 255); */

}

.right{
  width: 100%;
  color: white;
  padding: 20px 10px;
  text-transform: capitalize;
}
.rating-stars{
  font-size: .9rem;
  font-family: Montserrat;
}
.rating-stars span{
  margin-top: 10px;
  font-size: .7rem;
  font-weight: 400;
}
.right h1{
  font-size: 2rem;
  font-family: Montserrat;
}
.right .button{
  margin-top: 50px;
}
.right .to-cart{
  font-size: .9rem;
  font-family: Raleway;
  font-weight: 700;
  text-transform: capitalize;
  background-color: whitesmoke;
  color:black;
  border-radius: 3rem;
  padding: 1rem 2.3rem;
  text-decoration: none;
}
.right .to-cart:hover{

  color:rgb(255, 255, 255);
  background-color: red;
  border: solid white;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.heart{
  position: relative;
  top: -5%;
  left: 95%;
}
.heart-icon{
  font-size: 2rem;
  background-color: whitesmoke;
  color:rgb(255, 0, 0);
  border-radius:50%;
  padding:.8rem .8rem .5rem ;
  text-decoration: none;
}
.heart-icon:hover{

  color:rgb(255, 255, 255);
  background-color: red;
  /* border: solid white; */
  box-shadow:inset 0px 0px 25px rgb(255, 255, 255);
}


/* ===========================================================================================
============================================================================================== */
.tabs {
  color: #333;
  font-family: "Raleway";
  background: #efefef;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
  margin-bottom: 50px;
}
.tabs input[name=tab-controll] {
  display: none;
}
.tabs .content .content-section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.2rem;
  color: #428BFF;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}

.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
/* .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
} */
.tabs .slider {
  position: relative;
  width: calc(100% / 3);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428BFF;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content .content-section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content .content-section h2 {
  color: #428BFF;
  display: none;
}

.tabs .content .content-section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name=tab-controll]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #428BFF;
}
/* .tabs input[name=tab-controll]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #428BFF;
} */




@media (max-width: 600px) {
  .tabs input[name=tab-controll]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-controll]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs input[name=tab-controll]:nth-of-type(1):checked ~ .content > .content-section:nth-child(1) {
  display: block;
}
.tabs input[name=tab-controll]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #428BFF;
}

/* .tabs input[name=tab-controll]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #428BFF;
} */



@media (max-width: 600px) {
  .tabs input[name=tab-controll]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-controll]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs input[name=tab-controll]:nth-of-type(2):checked ~ .content > .content-section:nth-child(2) {
  display: block;
}
.tabs input[name=tab-controll]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #428BFF;
}
/* .tabs input[name=tab-controll]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #428BFF;
} */



@media (max-width: 600px) {
  .tabs input[name=tab-controll]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-controll]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs input[name=tab-controll]:nth-of-type(3):checked ~ .content > .content-section:nth-child(3) {
  display: block;
}

/* ================================================ */
/* media queries  */

@media (max-width:991px){

  html{
    font-size: 70%;
  }


}

@media (max-width:768px){

  html{
      font-size: 60%;
  }

  .right .right-title{
      font-size: 20px;
      color: #428BFF;
  }
  .right .author{
    font-size: 10px;
  }
  .left{
    width:15rem ;
  }
  .heart{
    top: -15%;
    left: 98%;
  }
  .heart-icon{
    font-size: 1.4rem;
    padding:.5rem .5rem .3rem ;
  }



}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}